/* animation.css */

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-left {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

.scroll-left-inner {
  display: flex;
  animation: scrollLeft 1000s linear infinite;
}
